@model FinReconcile.Models.CompareResult

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

<div>
    <h4>CompareResult</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientMarkOffFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientMarkOffFile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TutukaMarkOffFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TutukaMarkOffFile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalRecords)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalRecords)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatchingRecords)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatchingRecords)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnmatchedRecords)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnmatchedRecords)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
