@model FinReconcile.Models.CompareResult


        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">@Model.ClientMarkOffFile </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">   
                            <dt>
                                @Html.Label("Total Records")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.TotalClientRecords)
                            </dd>

                            <dt>
                                @Html.Label("Matching Records")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.MatchingClientRecords)
                            </dd>

                            <dt>
                                @Html.Label("Unmatched Records")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.UnmatchedClientRecords)
                            </dd>

                        </dl>
                    </div>
                </div>
            </div>               
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">@Model.TutukaMarkOffFile</div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">                            

                            <dt>
                               @Html.Label("Total Records")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.TotalTutukaRecords)
                            </dd>

                            <dt>
                                @Html.Label("Matching Records")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.MatchingTutukaRecords)
                            </dd>

                            <dt>
                                @Html.Label("Unmatched Records")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.UnmatchedTutkaRecords)
                            </dd>

                        </dl>
                    </div>
                </div>
            </div>
        </div>
        
