@model FinReconcile.Models.CompareResult


        <div class="row">           
            <div class="col-md-12">
                <table class="table table-striped table-hover table-responsive table-condensed">
                    <thead>
                        <tr>
                            <th>@Model.ClientMarkOffFile</th>                            
                            <th></th>
                            <th></th>
                            <th>@Model.BankMarkOffFile</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>                            
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Reference</th>
                            <th>Id</th>
                            <th>Description</th>
                            <td>ProfileName</td>
                            <td>Narrative</td>
                            <td>Type</td>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Reference</th>
                            <th>Id</th>
                            <th>Description</th>
                            <td>ProfileName</td>
                            <td>Narrative</td>
                            <td>Type</td>
                        </tr>
                    </thead>
                    <tbody>
 
                            @for (int i = 0; i < Model.Result.NotMatchedItems.Count; i++)
                            {
                                var clientTrans = Model.Result.NotMatchedItems[i].ClientTransaction;
                                var bankTrans = Model.Result.NotMatchedItems[i].BankTransaction;
                                <tr>
                                   @if (clientTrans != null)
                                   {
                                        <td class="@(bankTrans!=null&&clientTrans.Date==bankTrans.Date?"":"warning")">@clientTrans.Date.ToString()</td>
                                        <td class="@(bankTrans!=null&&clientTrans.Amount==bankTrans.Amount?"":"warning")">@clientTrans.Amount.ToString()</td>
                                        <td class="@(bankTrans != null && clientTrans.WalletReference==bankTrans.WalletReference?"":"warning")">@clientTrans.WalletReference</td>
                                        <td class="@(bankTrans!=null&&clientTrans.Id==bankTrans.Id?"":"warning")">@clientTrans.Id</td>
                                        <td class="@(bankTrans!=null&&clientTrans.Description==bankTrans.Description?"":"warning")">@clientTrans.Description</td>
                                        <td class="@(bankTrans!=null&&clientTrans.ProfileName==bankTrans.ProfileName?"":"warning")">@clientTrans.ProfileName</td>
                                        <td class="@(bankTrans!=null&&clientTrans.Narrative==bankTrans.Narrative?"":"warning")">@clientTrans.Narrative</td>                                        
                                        <td class="@(bankTrans!=null&&clientTrans.Type==bankTrans.Type?"":"warning")">@clientTrans.Type</td>
                                   }
                                   else
                                   {
                                       <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                        <td></td>
                                        <td></td>
                                   }
@if (bankTrans != null)
{
                                       <td>@bankTrans.Date.ToString()</td>
                                    <td>@bankTrans.Amount.ToString()</td>
                                    <td>@bankTrans.WalletReference</td>
                                    <td>@bankTrans.Id</td>
                                    <td>@bankTrans.Description</td>
                                        <td>@bankTrans.ProfileName</td>
                                        <td>@bankTrans.Narrative</td>
                                        <td>@bankTrans.Type</td>
}
else
{
    <td></td>
        <td></td>
                                    <td></td>
                                    <td></td>
                                        <td></td>
                                        <td></td>
}
                                </tr>
                            }                                                                  
                    </tbody>
                </table> 
            </div>          
            
        </div>
        
